<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="http://127.0.0.1:5000/logo" type="image/x-icon">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="http://127.0.0.1:5000/css">
    <script src="http://127.0.0.1:5000/js"></script>

    <title>PISI4-Ste</title>
</head>

<body class="container">
    <div class="row">

        <div class="col-12">
            <div class=" row apresentacao p-4">
                <div class=' col-auto logo'>
                    <img src="http://127.0.0.1:5000/logo" alt="UFRPE" >
                </div>
                <div class="col-auto text-center header">
                    UNIVERSIDADE FEDERAL RURAL DE PERNAMBUCO<br>
                    BACHARELADO EM SISTEMAS DE INFORMAÇÃO<br>
                    PROJETO INTERDISCIPLINAR PARA SISTEMAS DE INFORMAÇÃO - IV<br>
                    <b>STEFANY VITÓRIA DA CONCEIÇÃO IZIDIO</b>
                </div>
            </div>
        </div>
        <div class='col-12 m-0 p-3'>
            <div class='card p-3 mb-4'>                    
                <div class="row card-content">
                    <div>
                        <div class="col">
                            <h5>Projeto Acadêmico para a Disciplina PISI-4 por <a href="https://github.com/Stefanyvitoria">Stefany Izidio</a>.</h5>
                            <h6>Esta aplicação é um reprodutor de textos no qual os textos são extraídos de imagens. A aplicação visa auxiliar pessoas que não sabem ou podem ler.<br><br></h6>
                        </div>
                        <form id='myform' action="http://127.0.0.1:5000/aws" method="POST" enctype="multipart/form-data">
                            <div class="mb-3">
                                <input name="file" id='file' type="file" accept="image/png, image/jpg" >
                            </div>
                            <div class='confirm-button'>
                                <button class='button-input' id='confirmar' type="submit">
                                    Confirmar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>